body {
  background-color:#e8e0f4;
  width:100%;
  height:736px;
}

.container {
  width:100%;
  height:100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  width:90%;
  height:30px;
  background-color:#936ac7;
  border-color:#936ac7;
  padding: 0;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active {
  background-color:#936ac7;
  border-color:#936ac7;
}
.navbar-fixed-top {
  background-color:#f9f9f9;
  width:100%;
  margin: 0;
}

.nav-tabs {
  padding-left:8%;
  padding-top: 2%;
  text-align:center;
}

.Playlists {
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  top:71px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.glyphicon {
  font-size: 28px;
}
.glyphicon-plus {
  font-size: 15px;
  padding-right: 1%;
}

#c1 {
  font-size:12px;
  color:#cacaca;
  padding:0;
  width:30%;
  margin:0;
}

#c2 {
  font-size:12px;
  color:#cacaca;
  padding:0;
  width:30%;
  margin:0;
}

#c3 {
  font-size:12px;
  color:#cacaca;
  padding:0;
  width:30%;
  margin:0;
}

#topSelection1 {
  font-size:12px;
  color:#000000;
}

#topSelection2 {
  font-size:12px;
  color:#000000;
}

#topSelection3 {
  font-size:12px;
  color:#000000;
}

.nav>li>a {
    position: relative;
    display: block;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}
.songs, .playlists, .search {
    display: none;
}
.active {
  display: block;
}
.glyphicon-chevron-right {
  color:#808080;
  float: right;
  padding-right: 10%;
}
.glyphicon-play {
  color:#808080;
  float: right;
  padding-right: 7.5%;
  position:relative;
  left:20%;
  font-size:20px;
}
.glyphicon-plus-sign {
  color:#808080;
  float: right;
  padding-right:10%;
  background-color:transparent;
  border:none;
  position:relative;
  top:20px;
  left:5%;
  font-size:25px;
}

.special {
  display:inline;
  font-size:20px;
  font-family: sans-serif;
  padding-left: 10.5%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:55%;
  text-align: left;
}

.special_search {
    display:inline;
    font-size:20px;
    font-family: sans-serif;
    padding-left: 10.5%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:55%;
    text-align: left;
}

.special_library {
  display:inline;
  font-size:20px;
  font-family: sans-serif;
  padding-left: 3%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:55%;
  text-align: left;
  position:relative;
  bottom:10px;
  padding-top:5%;
}
.special_playlist {
  display:inline;
  font-size:20px;
  font-family: sans-serif;
  padding-left: 3%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:55%;
  text-align: left;
  position:relative;
  bottom:10px;
  padding-top:5%;
}
.special_search_playlist {
  display:inline;
  font-size:20px;
  font-family: sans-serif;
  padding-left: 3%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:55%;
  text-align: left;
  position:relative;
  bottom:10px;
  padding-top:5%;
}
.special1_library {
  display:inline;
  font-size:17px;
  color:#808080;
  font-family: sans-serif;
  padding-left: 3%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:65%;
  text-align: left;
  position:relative;
  bottom:10px;
  padding-bottom:5%;
}
.special1_playlist {
  display:inline;
  font-size:17px;
  color:#808080;
  font-family: sans-serif;
  padding-left: 3%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:65%;
  text-align: left;
  position:relative;
  bottom:10px;
  padding-bottom:5%;
}
.special1_search_playlist {
  display:inline;
  font-size:17px;
  color:#808080;
  font-family: sans-serif;
  padding-left: 3%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:65%;
  text-align: left;
  position:relative;
  bottom:10px;
  padding-bottom:5%;
}
.list {
  width:100%;
  background-color: transparent;
  color:#835797;
  border:none;
  border-bottom-color:#a6a4a8 ;
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}
.list:active {
  background-color: #93236c;
}
.list_search {
  width:100%;
  background-color: transparent;
  color:#835797;
  border:none;
  border-bottom-color:#a6a4a8 ;
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}
.list_search:active {
  background-color: #93236c;
}

.list_library {
  width:75%;
  background-color: transparent;
  color:#835797;
  border:none;
  border-bottom-color:#a6a4a8 ;
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}
.list_library:active {
  background-color: #93236c;
}
.list_playlist {
  width:75%;
  background-color: transparent;
  color:#835797;
  border:none;
  border-bottom-color:#a6a4a8 ;
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}
.list_playlist:active{
  background-color: #93236c;

}
.list_search_playlist{
  width:75%;
  background-color: transparent;
  color:#835797;
  border:none;
  border-bottom-color:#a6a4a8 ;
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}
.list_seaplaylist:active {
  background-color: #93236c;

}
img {
    max-width: 45px;
    height: 55px;
    float:left;
    margin-left: 10%;
}
.last {
  width:100%;
  background-color: transparent;
  color:#835797;
  border:none;
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}

.last:active {
    background-color: #93236c;
}

#functionality {
      margin-top: 1%;
      margin-bottom: 0;
      overflow: hidden;
}

#sort_by_artist{
  width:25%;
  height:30px;
  background-color:#936ac7;
  border-color:#936ac7;
  margin-left: 5%;
  position:relative;
  right:3%;
  box-shadow:inset 0 0 10px #000000;
}
#sort_by_title{
  width:25%;
  height:30px;
  background-color:#936ac7;
  border-color:#936ac7;
  margin-right:5%;
  position:relative;
  left:3%;
  box-shadow:none;
}

#searchBar{
    width: 85%;
    height:27px;
    border-radius: 5px;
    overflow: hidden;
    font-size:20px;
    color: #808080;
    padding-left:10%;
    border-radius: 5px;
    border:solid;
    border-color: #808080;
}
#searchBar::-webkit-input-placeholder {
    font-size: 15px;
    position: relative;
    bottom:6px;
}
#content1{
  display:none;
}
#content2{
  display:none;
}
#content2B{
  display:none;
}
#content3{
  display:none;
}
.part{

  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color:#a6a4a8 ;
  width:85%;
  margin-left:7.5%;
  margin-right:7.5%;

}
.part1{

  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color:#a6a4a8 ;
  width:85%;
  margin-left:7.5%;
  margin-right:7.5%;

}
.part_search{

  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color:#a6a4a8 ;
  width:85%;
  margin-left:7.5%;
  margin-right:7.5%;

}
.part_playlist{

  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color:#a6a4a8 ;
  width:75%;
  margin-left:7.5%;
  margin-right:7.5%;

}
#modal{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color:rgba(195,192,198,0.8);
}
#modal2{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color:rgba(195,192,198,0.8);
}
#modal-content{
  background-color: #e8e0f4;
  width: 70%;
  height: 50%;
  overflow: hidden;
  text-overflow: scroll;
  white-space: nowrap;
  padding-top:5% ;
  padding-bottom: 5%;
  padding-left: 6%;
  position: fixed;
  top: 36%;
  left: 20%;
  overflow-y: scroll;

}
#close{
  color:#808080;
  float: right;
  font-size: 18px;
  margin-top:10%;
  position: fixed;
  right:12%;
  top:33%;
}

.glyphicon-remove {
    color:#808080;
    font-size: 18px;
    border:none;
    background-color: transparent;
    position:relative;
    top: -75px;
    left :165px;
}

#modal-title{
  color:#808080;
  font-size:20px;
  position: fixed;
  left:28%;
  bottom:57%;

}
.playlists-in-box{
  display:inline;
  font-size:20px;
  font-family: sans-serif;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:55%;
  color:#835797;
  margin-top: 27%;
  text-align: left;

}
.users-in-box{
  display:inline;
  font-size:20px;
  font-family: sans-serif;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:55%;
  color:#835797;
  margin-top: 27%;
  text-align: left;

}
.playlist-name {
  display:inline;
  font-size:26px;
  font-family: sans-serif;
  padding-left: 10.5%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width:80%;
  text-align: left;
  margin-top: 2%;
  color:#835797;

}
#form_to_add{
  display: none;
  position:fixed;
  top:12%;
  left:15%;
  color:blue;
}
#add_user{
  float:right;


}
